<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<bean
		id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property
			name="driverClassName">
			<value>com.mysql.jdbc.Driver</value>
		</property>
		<property
			name="url">
			<value>jdbc:mysql://localhost/roomsystem?useUnicode=true&amp;characterEncoding=UTF-8</value>
		</property>
		<property
			name="username">
			<value>root</value>
		</property>
		<property
			name="password">
			<value>Abcd1234</value>
		</property>
		<property
			name="validationQuery">
			<value>SELECT COUNT(*) FROM DUAL</value>
		</property>
	</bean>
	<bean
		id="sqlMapClient"
		class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property
			name="configLocation">
			<value>WEB-INF/SqlMapConfig.xml</value>
		</property>
	</bean>
	<bean
		id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property
			name="dataSource">
			<ref
				bean="dataSource" />
		</property>
	</bean>
	<bean
		id="personmanagedaoserviceimpl"
		class="com.feifan.daoserviceimpl.PersonManageDaoServiceImpl">
		<property
			name="dataSource"
			ref="dataSource">
		</property>
		<property
			name="sqlMapClient"
			ref="sqlMapClient">
		</property>
	</bean>
	<bean
		id="housemanagedaoserviceimpl"
		class="com.feifan.daoserviceimpl.HouseManageDaoServiceImpl">
		<property
			name="dataSource"
			ref="dataSource">
		</property>
		<property
			name="sqlMapClient"
			ref="sqlMapClient">
		</property>
	</bean>
	<bean
		id="usermanagedaoserviceimpl"
		class="com.feifan.daoserviceimpl.UserManageDaoServiceImpl">
		<property
			name="dataSource"
			ref="dataSource">
		</property>
		<property
			name="sqlMapClient"
			ref="sqlMapClient">
		</property>
	</bean>
	<bean
		id="livemanagedaoserviceimpl"
		class="com.feifan.daoserviceimpl.LiveManageDaoServiceImpl">
		<property
			name="dataSource"
			ref="dataSource">
		</property>
		<property
			name="sqlMapClient"
			ref="sqlMapClient">
		</property>
	</bean>
	<bean
		id="loginmanagedaoserviceimpl"
		class="com.feifan.daoserviceimpl.LoginManageDaoServiceImpl">
		<property
			name="dataSource"
			ref="dataSource">
		</property>
		<property
			name="sqlMapClient"
			ref="sqlMapClient">
		</property>
	</bean>
	<bean
		id="paymentmanagedaoserviceimpl"
		class="com.feifan.daoserviceimpl.PaymentManageDaoServiceImpl">
		<property
			name="dataSource"
			ref="dataSource">
		</property>
		<property
			name="sqlMapClient"
			ref="sqlMapClient">
		</property>
	</bean>
	<bean
		id="querymanagedaoserviceimpl"
		class="com.feifan.daoserviceimpl.QueryManageDaoServiceImpl">
		<property
			name="dataSource"
			ref="dataSource">
		</property>
		<property
			name="sqlMapClient"
			ref="sqlMapClient">
		</property>
	</bean>
	<bean
		id="incomemanagedaoserviceimpl"
		class="com.feifan.daoserviceimpl.IncomeManageDaoServiceImpl">
		<property
			name="dataSource"
			ref="dataSource">
		</property>
		<property
			name="sqlMapClient"
			ref="sqlMapClient">
		</property>
	</bean>
</beans>